body {
  font-family: "Courier New";
}

.section{
  padding-top: 10%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.socials {
  margin: 0 5%;
}




